.prefix {
    padding-right: 8px;
  }
  
.surfix {
    padding-left: 8px;
  }
  
.button-default {
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  /* sizing */
  .xs {
    padding: 1px 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
  }
  
  .s {
    padding: 5px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
  
  .md {
    padding: 9px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
  }
  
  .lg {
    padding: 12px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  
  .disableBtn {
    background: #ECEFF4;
    border: 1px solid #CCD4E1;
    border-radius: 8px;
    cursor: not-allowed;
    color: #BFCAD9;
  }
  
  .solid, .text {
    border: none;
  }
  
  .solid {
    color: white;
  }
  
  /* variant SOLID */
  button[data-variant="solid"][data-type="primary"]  {
    background-color: #366AE2;
  }
  button[data-variant="solid"][data-type="primary"]:focus  {
    box-shadow: 0px 0px 7px #1D50C9;
  }
  button[data-variant="solid"][data-type="primary"]:hover  {
    background-color: #799CEC;
  }
  button[data-variant="solid"][data-type="primary"]:focus-visible  {
    background-color: #799CEC;
    outline: 3px solid #4D7AE5;
  }
  
  
  button[data-variant="solid"][data-type="success"]  {
    background-color: #39AC6D;
  }
  button[data-variant="solid"][data-type="success"]:focus  {
    box-shadow: 0px 0px 7px #339961;
  }
  button[data-variant="solid"][data-type="success"]:hover  {
    background-color: #79D2A1;
  }
  button[data-variant="solid"][data-type="success"]:focus-visible  {
    background-color: #79D2A1;
    outline: 3px solid #40BF79;
  }
  
  button[data-variant="solid"][data-type="warning"]  {
    background-color: #FC6B03;
  }
  button[data-variant="solid"][data-type="warning"]:focus  {
    box-shadow: 0px 0px 7px #B14B02;
  }
  button[data-variant="solid"][data-type="warning"]:hover  {
    background-color: #FD974E;
  }
  button[data-variant="solid"][data-type="warning"]:focus-visible  {
    background-color: #FD974E;
    outline: 3px solid #FD8835;
  }
  
  button[data-variant="solid"][data-type="error"]  {
    background-color: #E14337;
  }
  button[data-variant="solid"][data-type="error"]:focus  {
    box-shadow: 0px 0px 7px #C8291E;
  }
  button[data-variant="solid"][data-type="error"]:hover  {
    background-color: #EB817A;
  }
  button[data-variant="solid"][data-type="error"]:focus-visible  {
    background-color: #EB817A;
    outline: 3px solid #E4584E;
  }
  
  /* variant GHOST */
  button[data-variant="ghost"][data-type="primary"]  {
    border: 1px solid #366AE2;
    color: #366AE2;
    background-color: white;
  }
  button[data-variant="ghost"][data-type="primary"]:focus  {
    box-shadow: 0px 0px 7px #1D50C9;
  }
  button[data-variant="ghost"][data-type="primary"]:hover  {
    background-color: #EDF2FD;
  }
  button[data-variant="ghost"][data-type="primary"]:focus-visible  {
    background-color: #EDF2FD;
    outline: 3px solid #BCCDF5;
  }
  
  button[data-variant="ghost"][data-type="success"]  {
    border:1px solid #39AC6D;
    color: #39AC6D;
    background-color: white;
  }
  button[data-variant="ghost"][data-type="success"]:focus  {
    box-shadow: 0px 0px 7px #339961;
  }
  button[data-variant="ghost"][data-type="success"]:hover  {
    background-color: #E8F7EF;
  }
  button[data-variant="ghost"][data-type="success"]:focus-visible  {
    background-color: #E8F7EF;
    outline: 3px solid #C6ECD7;
  }
  
  button[data-variant="ghost"][data-type="warning"]  {
    border:1px solid #FC6B03;
    color: #FC6B03;
    background-color: white;
  }
  button[data-variant="ghost"][data-type="warning"]:focus  {
    box-shadow: 0px 0px 7px #B14B02;
  }
  button[data-variant="ghost"][data-type="warning"]:hover  {
    background-color: #FFEDE1;
  }
  button[data-variant="ghost"][data-type="warning"]:focus-visible  {
    background-color: #FFEDE1;
    outline: 3px solid #FEC49A;
  }
  
  button[data-variant="ghost"][data-type="error"]  {
    border:1px solid #E14337;
    color: #E14337;
    background-color: white;
  }
  button[data-variant="ghost"][data-type="error"]:focus  {
    box-shadow: 0px 0px 7px #C8291E;
  }
  button[data-variant="ghost"][data-type="error"]:hover  {
    background-color: #FCEEED;
  }
  button[data-variant="ghost"][data-type="error"]:focus-visible  {
    background-color: #FCEEED;
    outline: 3px solid #F5C0BC;
  }
  
  /* variant DASHED */
  button[data-variant="dash"][data-type="primary"]  {
    border: 1px dashed #366AE2;
    color: #366AE2;
    background-color: white;
  }
  button[data-variant="dash"][data-type="primary"]:focus  {
    box-shadow: 0px 0px 7px #1D50C9;
  }
  button[data-variant="dash"][data-type="primary"]:hover  {
    background-color: #EDF2FD;
  }
  button[data-variant="dash"][data-type="primary"]:focus-visible  {
    background-color: #EDF2FD;
    outline: 3px solid #BCCDF5;
  }
  
  button[data-variant="dash"][data-type="success"]  {
    border:1px dashed #39AC6D;
    color: #39AC6D;
    background-color: white;
  }
  button[data-variant="dash"][data-type="success"]:focus  {
    box-shadow: 0px 0px 7px #339961;
  }
  button[data-variant="dash"][data-type="success"]:hover  {
    background-color: #E8F7EF;
  }
  button[data-variant="dash"][data-type="success"]:focus-visible  {
    background-color: #E8F7EF;
    outline: 3px solid #C6ECD7;
  }
  
  button[data-variant="dash"][data-type="warning"]  {
    border:1px dashed #FC6B03;
    color: #FC6B03;
    background-color: white;
  }
  button[data-variant="dash"][data-type="warning"]:focus  {
    box-shadow: 0px 0px 7px #B14B02;
  }
  button[data-variant="dash"][data-type="warning"]:hover  {
    background-color: #FFEDE1;
  }
  button[data-variant="dash"][data-type="warning"]:focus-visible  {
    background-color: #FFEDE1;
    outline: 3px solid #FEC49A;
  }
  
  button[data-variant="dash"][data-type="error"]  {
    border:1px dashed #E14337;
    color: #E14337;
    background-color: white;
  }
  button[data-variant="dash"][data-type="error"]:focus  {
    box-shadow: 0px 0px 7px #C8291E;
  }
  button[data-variant="dash"][data-type="error"]:hover  {
    background-color: #FCEEED;
  }
  button[data-variant="dash"][data-type="error"]:focus-visible  {
    background-color: #FCEEED;
    outline: 3px solid #F5C0BC;
  }
  
  /* variant TEXT */
  button[data-variant="text"][data-type="primary"]  {
    background-color: white;
    color: #366AE2;
  }
  button[data-variant="text"][data-type="primary"]:focus  {
    box-shadow: 0px 0px 7px #1D50C9;
  }
  button[data-variant="text"][data-type="primary"]:hover  {
    background-color: #EDF2FD;
  }
  button[data-variant="text"][data-type="primary"]:focus-visible  {
    background-color: #EDF2FD;
    outline: 3px solid #BCCDF5;
  }
  
  button[data-variant="text"][data-type="success"]  {
    background-color: white;
    color: #39AC6D;
  }
  button[data-variant="text"][data-type="success"]:focus  {
    box-shadow: 0px 0px 7px #339961;
  }
  button[data-variant="text"][data-type="success"]:hover  {
    background-color: #E8F7EF;
  }
  button[data-variant="text"][data-type="success"]:focus-visible  {
    background-color: #E8F7EF;
    outline: 3px solid #C6ECD7;
  }
  
  button[data-variant="text"][data-type="warning"]  {
    background-color: white;
    color: #FC6B03;
  }
  button[data-variant="text"][data-type="warning"]:focus  {
    box-shadow: 0px 0px 7px #B14B02;
  }
  button[data-variant="text"][data-type="warning"]:hover  {
    background-color: #FFEDE1;
  }
  button[data-variant="text"][data-type="warning"]:focus-visible  {
    background-color: #FFEDE1;
    outline: 3px solid #FEC49A;
  }
  
  button[data-variant="text"][data-type="error"]  {
    background-color: white;
    color: #E14337;
  }
  button[data-variant="text"][data-type="error"]:focus  {
    box-shadow: 0px 0px 7px #C8291E;
  }
  button[data-variant="text"][data-type="error"]:hover  {
    background-color: #FCEEED;
  }
  button[data-variant="text"][data-type="error"]:focus-visible  {
    background-color: #FCEEED;
    outline: 3px solid #F5C0BC;
  }
  
  
  