/* Button */
.prefix {
    padding-right: 8px;
  }
  
.surfix {
    padding-left: 8px;
  }
  
.button-default {
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}
  
  /* sizing */
.xs {
  padding: 1px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
}
  
.s {
  padding: 5px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
  
.md {
  padding: 9px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}
  
.lg {
  padding: 12px 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
  
button[data-btn-disable="true"]{
  background-color: #ECEFF4 !important;
  border-color: #BFCAD9 !important;
  cursor: not-allowed !important;
  color: #BFCAD9 !important;
  pointer-events: none !important;
}
  
.solid, .text {
  border: none;
}
  
.solid {
  color: white;
}
  
/* variant SOLID */
  button[data-variant="solid"][data-type="primary"]  {
    background-color: #366AE2;
  }
  button[data-variant="solid"][data-type="primary"]:focus  {
    box-shadow: 0px 0px 7px #1D50C9;
  }
  button[data-variant="solid"][data-type="primary"]:hover  {
    background-color: #799CEC;
  }
  button[data-variant="solid"][data-type="primary"]:focus-visible  {
    background-color: #799CEC;
    outline: 3px solid #4D7AE5;
  }
  
  
  button[data-variant="solid"][data-type="success"]  {
    background-color: #39AC6D;
  }
  button[data-variant="solid"][data-type="success"]:focus  {
    box-shadow: 0px 0px 7px #339961;
  }
  button[data-variant="solid"][data-type="success"]:hover  {
    background-color: #79D2A1;
  }
  button[data-variant="solid"][data-type="success"]:focus-visible  {
    background-color: #79D2A1;
    outline: 3px solid #40BF79;
  }
  
  button[data-variant="solid"][data-type="warning"]  {
    background-color: #FC6B03;
  }
  button[data-variant="solid"][data-type="warning"]:focus  {
    box-shadow: 0px 0px 7px #B14B02;
  }
  button[data-variant="solid"][data-type="warning"]:hover  {
    background-color: #FD974E;
  }
  button[data-variant="solid"][data-type="warning"]:focus-visible  {
    background-color: #FD974E;
    outline: 3px solid #FD8835;
  }
  
  button[data-variant="solid"][data-type="error"]  {
    background-color: #E14337;
  }
  button[data-variant="solid"][data-type="error"]:focus  {
    box-shadow: 0px 0px 7px #C8291E;
  }
  button[data-variant="solid"][data-type="error"]:hover  {
    background-color: #EB817A;
  }
  button[data-variant="solid"][data-type="error"]:focus-visible  {
    background-color: #EB817A;
    outline: 3px solid #E4584E;
  }
  
  /* variant GHOST */
  button[data-variant="ghost"][data-type="primary"]  {
    border: 1px solid #366AE2;
    color: #366AE2;
    background-color: white;
  }
  button[data-variant="ghost"][data-type="primary"]:focus  {
    box-shadow: 0px 0px 7px #1D50C9;
  }
  button[data-variant="ghost"][data-type="primary"]:hover  {
    background-color: #EDF2FD;
  }
  button[data-variant="ghost"][data-type="primary"]:focus-visible  {
    background-color: #EDF2FD;
    outline: 3px solid #BCCDF5;
  }
  
  button[data-variant="ghost"][data-type="success"]  {
    border:1px solid #39AC6D;
    color: #39AC6D;
    background-color: white;
  }
  button[data-variant="ghost"][data-type="success"]:focus  {
    box-shadow: 0px 0px 7px #339961;
  }
  button[data-variant="ghost"][data-type="success"]:hover  {
    background-color: #E8F7EF;
  }
  button[data-variant="ghost"][data-type="success"]:focus-visible  {
    background-color: #E8F7EF;
    outline: 3px solid #C6ECD7;
  }
  
  button[data-variant="ghost"][data-type="warning"]  {
    border:1px solid #FC6B03;
    color: #FC6B03;
    background-color: white;
  }
  button[data-variant="ghost"][data-type="warning"]:focus  {
    box-shadow: 0px 0px 7px #B14B02;
  }
  button[data-variant="ghost"][data-type="warning"]:hover  {
    background-color: #FFEDE1;
  }
  button[data-variant="ghost"][data-type="warning"]:focus-visible  {
    background-color: #FFEDE1;
    outline: 3px solid #FEC49A;
  }
  
  button[data-variant="ghost"][data-type="error"]  {
    border:1px solid #E14337;
    color: #E14337;
    background-color: white;
  }
  button[data-variant="ghost"][data-type="error"]:focus  {
    box-shadow: 0px 0px 7px #C8291E;
  }
  button[data-variant="ghost"][data-type="error"]:hover  {
    background-color: #FCEEED;
  }
  button[data-variant="ghost"][data-type="error"]:focus-visible  {
    background-color: #FCEEED;
    outline: 3px solid #F5C0BC;
  }
  
  /* variant DASHED */
  button[data-variant="dash"][data-type="primary"]  {
    border: 1px dashed #366AE2;
    color: #366AE2;
    background-color: white;
  }
  button[data-variant="dash"][data-type="primary"]:focus  {
    box-shadow: 0px 0px 7px #1D50C9;
  }
  button[data-variant="dash"][data-type="primary"]:hover  {
    background-color: #EDF2FD;
  }
  button[data-variant="dash"][data-type="primary"]:focus-visible  {
    background-color: #EDF2FD;
    outline: 3px solid #BCCDF5;
  }
  
  button[data-variant="dash"][data-type="success"]  {
    border:1px dashed #39AC6D;
    color: #39AC6D;
    background-color: white;
  }
  button[data-variant="dash"][data-type="success"]:focus  {
    box-shadow: 0px 0px 7px #339961;
  }
  button[data-variant="dash"][data-type="success"]:hover  {
    background-color: #E8F7EF;
  }
  button[data-variant="dash"][data-type="success"]:focus-visible  {
    background-color: #E8F7EF;
    outline: 3px solid #C6ECD7;
  }
  
  button[data-variant="dash"][data-type="warning"]  {
    border:1px dashed #FC6B03;
    color: #FC6B03;
    background-color: white;
  }
  button[data-variant="dash"][data-type="warning"]:focus  {
    box-shadow: 0px 0px 7px #B14B02;
  }
  button[data-variant="dash"][data-type="warning"]:hover  {
    background-color: #FFEDE1;
  }
  button[data-variant="dash"][data-type="warning"]:focus-visible  {
    background-color: #FFEDE1;
    outline: 3px solid #FEC49A;
  }
  
  button[data-variant="dash"][data-type="error"]  {
    border:1px dashed #E14337;
    color: #E14337;
    background-color: white;
  }
  button[data-variant="dash"][data-type="error"]:focus  {
    box-shadow: 0px 0px 7px #C8291E;
  }
  button[data-variant="dash"][data-type="error"]:hover  {
    background-color: #FCEEED;
  }
  button[data-variant="dash"][data-type="error"]:focus-visible  {
    background-color: #FCEEED;
    outline: 3px solid #F5C0BC;
  }
  
  /* variant TEXT */
  button[data-variant="text"][data-type="primary"]  {
    background-color: white;
    color: #366AE2;
  }
  button[data-variant="text"][data-type="primary"]:focus  {
    box-shadow: 0px 0px 7px #1D50C9;
  }
  button[data-variant="text"][data-type="primary"]:hover  {
    background-color: #EDF2FD;
  }
  button[data-variant="text"][data-type="primary"]:focus-visible  {
    background-color: #EDF2FD;
    outline: 3px solid #BCCDF5;
  }
  
  button[data-variant="text"][data-type="success"]  {
    background-color: white;
    color: #39AC6D;
  }
  button[data-variant="text"][data-type="success"]:focus  {
    box-shadow: 0px 0px 7px #339961;
  }
  button[data-variant="text"][data-type="success"]:hover  {
    background-color: #E8F7EF;
  }
  button[data-variant="text"][data-type="success"]:focus-visible  {
    background-color: #E8F7EF;
    outline: 3px solid #C6ECD7;
  }
  
  button[data-variant="text"][data-type="warning"]  {
    background-color: white;
    color: #FC6B03;
  }
  button[data-variant="text"][data-type="warning"]:focus  {
    box-shadow: 0px 0px 7px #B14B02;
  }
  button[data-variant="text"][data-type="warning"]:hover  {
    background-color: #FFEDE1;
  }
  button[data-variant="text"][data-type="warning"]:focus-visible  {
    background-color: #FFEDE1;
    outline: 3px solid #FEC49A;
  }
  
  button[data-variant="text"][data-type="error"]  {
    background-color: white;
    color: #E14337;
  }
  button[data-variant="text"][data-type="error"]:focus  {
    box-shadow: 0px 0px 7px #C8291E;
  }
  button[data-variant="text"][data-type="error"]:hover  {
    background-color: #FCEEED;
  }
  button[data-variant="text"][data-type="error"]:focus-visible  {
    background-color: #FCEEED;
    outline: 3px solid #F5C0BC;
  }

  button[data-color]:not([data-color="null"])[data-variant="solid"] {
    background-color: currentColor;
  }

  button[data-color]:not([data-color="null"])[data-variant="solid"]:focus {
    box-shadow: 0px 0px 7px currentColor;
  }

  button[data-color]:not([data-color="null"])[data-variant="solid"]:hover {
    filter: brightness(130%);
  }

  button[data-color]:not([data-color="null"])[data-variant="solid"]:focus-visible {
    background-color: currentColor;
    outline: 3px solid currentColor;
  }

  button[data-color]:not([data-color="null"])[data-variant="ghost"] {
    border: 1px solid currentColor;
    color: currentColor;
    background-color: white;
  }

  button[data-color]:not([data-color="null"])[data-variant="ghost"]:focus {
    box-shadow: 0px 0px 7px currentColor;
  }

  button[data-color]:not([data-color="null"])[data-variant="ghost"]:hover {
    background-color: #EDF2FD;
  }

  button[data-color]:not([data-color="null"])[data-variant="ghost"]:focus-visible {
    background-color: #E8F7EF;
    outline: 3px solid currentColor;
  }

  button[data-color]:not([data-color="null"])[data-variant="dash"] {
    border: 1px dashed currentColor;
    color: currentColor;
    background-color: white;
  }

  button[data-color]:not([data-color="null"])[data-variant="dash"]:focus {
    box-shadow: 0px 0px 7px currentColor;
  }

  button[data-color]:not([data-color="null"])[data-variant="dash"]:hover {
    background-color: #EDF2FD;
  }

  button[data-color]:not([data-color="null"])[data-variant="dash"]:focus-visible {
    background-color: #E8F7EF;
    outline: 3px solid currentColor;
  }

  button[data-color]:not([data-color="null"])[data-variant="text"] {
    color: currentColor;
    background-color: white;
  }

  button[data-color]:not([data-color="null"])[data-variant="text"]:focus {
    box-shadow: 0px 0px 7px currentColor;
  }

  button[data-color]:not([data-color="null"])[data-variant="text"]:hover {
    background-color: #E8F7EF;
  }

  button[data-color]:not([data-color="null"])[data-variant="text"]:focus-visible {
    background-color: #E8F7EF;
    outline: 3px solid currentColor;
  }

/* Title */

div[data-text-variant="subtitle1"]{
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

div[data-text-variant="subtitle2"]{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

div[data-text-variant="subtitle3"]{
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

div[data-text-variant="subtitle4"]{
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

div[data-text-variant="subtitle5"]{
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}

div[data-text-variant="body1"]{
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

div[data-text-variant="body2"]{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

div[data-text-variant="body3"]{
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

div[data-text-variant="button1"]{
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

div[data-text-variant="button2"]{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

div[data-text-variant="button3"]{
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

div[data-text-variant="button4"]{
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

div[data-text-variant="button5"]{
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

div[data-text-variant="button6"]{
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

div[data-text-variant="label1"]{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

div[data-text-variant="label2"]{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

div[data-text-variant="label3"]{
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

div[data-text-variant="label4"]{
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

div[data-text-variant="label5"]{
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

div[data-text-variant="placeholder1"]{
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

div[data-text-variant="placeholder2"]{
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

div[data-text-variant="hightlight1"]{
  font-size: 56px;
  line-height: 68px;
  font-weight: 500;
}

div[data-text-variant="hightlight2"]{
  font-size: 46px;
  line-height: 56px;
  font-weight: 500;
}

div[data-text-variant="hightlight3"]{
  font-size: 38px;
  line-height: 46px;
  font-weight: 500;
}

div[data-text-variant="hightlight4"]{
  font-size: 30px;
  line-height: 38px;
  font-weight: 500;
}

div[data-text-variant="hightlight5"]{
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

div[data-text-variant="hightlight6"]{ 
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

/* Text */
div[data-title-variant="h1"]{
  font-size: 56px;
  line-height: 68px;
  font-weight: 600;
}

div[data-title-variant="h2"]{
  font-size: 46px;
  line-height: 56px;
  font-weight: 600;
}

div[data-title-variant="h3"]{
  font-size: 38px;
  line-height: 46px;
  font-weight: 600;
}

div[data-title-variant="h4"]{
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
}

div[data-title-variant="h5"]{
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

div[data-title-variant="h6"]{
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

div[data-title-variant="h7"]{
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

div[data-title-variant="h8"]{
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

div[data-title-variant="h9"]{
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}

/* Spacing */

.spacing {
  display: flex;
}
.spacing4{
  gap: 4px;
}
.spacing8{
  gap: 8px;
}
.spacing12{
  gap: 12px;
}
.spacing16{
  gap: 16px;
}
.spacing24{
  gap: 24px;
}
.spacing32{
  gap: 32px;
}
.spacing40{
 gap: 40px;
}
.spacing42{
  gap: 42px;
}
.spacingrow{
  flex-direction: row;
}
.spacingcolumn{
  flex-direction: column;
}

/* CheckBox */
/* The container */
label[data-container="hq-checkbox-container"] {
  display: inline-flex;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

/* Hide the browser's default checkbox */
label[data-container="hq-checkbox-container"] input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
label[data-container="hq-checkbox-container"] .checkmark {
  position: relative;
  background-color: white;
  border:2.5px solid #CCD4E1;
  border-radius: 6px;
  margin-right: 8px;
  transition: all 0.1s ease-in; 
}

/* On mouse-over, add a background color */
label[data-container="hq-checkbox-container"]:hover input ~ .checkmark {
  background-color: #ECEFF4;
}

/* When the checkbox is checked, add a background */
label[data-container="hq-checkbox-container"] input:checked ~ .checkmark {
  background-color: currentColor;
  border:2.5px solid currentColor;
}

/* Create the checkmark/indicator (hidden when not checked) */
label[data-container="hq-checkbox-container"] .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  transition: all 0.1s ease;
}

/* Show the checkmark when checked */
label[data-container="hq-checkbox-container"] input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label[data-container="hq-checkbox-container"] .checkmark[data-indeterminate="false"]:after {
  left: 0.4em;
  top: 0.1em;
  width: 0.2em;
  height: 0.5em;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label[data-container="hq-checkbox-container"] .checkmark[data-indeterminate="true"]:after {
  left: 0.15em;
  top: 0.45em;
  width: 0.7em;
  height: 0.05em;
  background-color: white;
}

/* handle disable */
label[data-checkbox-disabled="true"] {
  pointer-events: none;
}

label[data-checkbox-disabled="true"] .checkmark{
  background-color: #ECEFF4;
}

label[data-checkbox-disabled="true"] .checkmark[data-indeterminate="false"]:after {
  left: 0.4em;
  top: 0.1em;
  width: 0.2em;
  height: 0.5em;
  border: solid #9FB0C7;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label[data-checkbox-disabled="true"] .checkmark[data-indeterminate="true"]:after {
  left: 0.15em;
  top: 0.45em;
  width: 0.7em;
  height: 0.05em;
  background-color: #9FB0C7;
}

label[data-checkbox-disabled="true"] input:checked ~ .checkmark {
  background-color: #ECEFF4;
  border:2.5px solid #CCD4E1;
}

/* Radio button */
/* The container */
label[data-container="hq-radio-button"] {
  display: inline-flex;
  flex-direction: row-reverse;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: center;
  align-items: center;
}

/* Hide the browser's default radio button */
label[data-container="hq-radio-button"] .hq-radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radio {
  position: relative;
  border-radius: 50%;
  margin-right: 8px;
  border: 3px solid #CCD4E1;
  transition: all 0.1s ease;
}

/* On mouse-over, add a background color */
label[data-container="hq-radio-button"]:hover .hq-radio-input ~ .checkmark-radio {
  background-color: #E5EAF0;
}

/* When the radio button is checked, add a background */
label[data-container="hq-radio-button"][data-radio-disabled="false"] .hq-radio-input:checked ~ .checkmark-radio {
  background-color: white;
  border: 3px solid currentColor;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

/* Show the indicator (dot/circle) when checked */
label[data-container="hq-radio-button"] .hq-radio-input:checked ~ .checkmark-radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
label[data-container="hq-radio-button"] .checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
 	top: 0.2em;
	left: 0.2em;
	width: 0.6em;
	height: 0.6em;
	border-radius: 50%;
	background: currentColor;
}

/* disable */
label[data-radio-disabled="true"] {
  pointer-events: none;
}

label[data-radio-disabled="true"] .checkmark-radio {
  border: 3px solid #CCD4E1;
  background-color: #ECEFF4;
}

label[data-radio-disabled="true"] .hq-radio-input:checked ~ .checkmark-radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
label[data-radio-disabled="true"] .checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
 	top: 0.2em;
	left: 0.2em;
	width: 0.6em;
	height: 0.6em;
	border-radius: 50%;
	background: #BFCAD9;
}

/* Avatar */
img[data-avatar], div[data-avatar] {
  border-radius: 50%;
  overflow: hidden;
}

img[data-avatar="xxs"], div[data-avatar="xxs"] {
  object-fit: cover;
  width: 40px;
  height: 40px;
}

img[data-avatar="xs"], div[data-avatar="xs"] {
  object-fit: cover;
  width: 48px;
  height: 48px;
}

img[data-avatar="sm"], div[data-avatar="sm"] {
  object-fit: cover;
  width: 56px;
  height: 56px;
}

img[data-avatar="md"], div[data-avatar="md"] {
  object-fit: cover;
  width: 64px;
  height: 64px;
}

img[data-avatar="lg"], div[data-avatar="lg"] {
  object-fit: cover;
  width: 80px;
  height: 80px;
}

img[data-avatar="xl"], div[data-avatar="xl"] {
  object-fit: cover;
  width: 104px;
  height: 104px;
}

img[data-avatar="xxl"], div[data-avatar="xxl"] {
  object-fit: cover;
  width: 148px;
  height: 148px;
}

.hq-avatar-loading {
  filter: blur(15px);
  clip-path: inset(0);
}

.hq-avatar-loaded {
  filter: blur(0px);
  transition: filter 0.2s linear;
}

/* Skeleton loading */
.hq-skeleton {
  animation: hq-skeleton-loading 0.9s linear infinite alternate;
}

@keyframes hq-skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
/* Skeleton loading */

/* Number picker */

input[data-custom="hq-input-number"][type="number"] {
  outline: none;
  border: none;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[data-custom="hq-input-number"][type=number]::-webkit-inner-spin-button, 
input[data-custom="hq-input-number"][type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
input[data-custom="hq-input-number"][type="number"]:focus {
  outline: none;
  border: none;
}

div[data-number-picker-size] {
  display: inline-flex;
}

div[data-number-picker-size="lg"] {
  font-size: 20px;
}

div[data-number-picker-size="md"] {
  font-size: 17px;
}

div[data-number-picker-size="s"] {
  font-size: 14px;
}

div[data-number-picker-size="xs"] {
  font-size: 12px;
}

div[data-number-picker-size] input {
  pointer-events: none;
  width: 3em;
  text-align: center;
  margin-left:0.3em;
  margin-right:0.3em;
  color: currentColor;
  font-size: 1.2em;
  font-weight: 400;
}

div[data-number-picker-size] button span {
  font-size: 1.5em;
  min-width: 0.8em;
  font-weight: bold;
}

div[data-number-picker-size] button  {
  display: flex;
  justify-content: center;
  align-items: center;
}

div[data-number-picker-size][data-number-picker-disabled="true"] button span {
  color: #BFCAD9 !important
}

div[data-number-picker-size][data-number-picker-disabled="true"] input {
  background-color: white;
  color: #BFCAD9 !important
}















  
  
  